{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>

    <span> Hi {{ app.user.firstname }} </span>
    {% if notRepliedRecognitionDetails is not empty %}
        <a href="#" data-toggle="modal" data-target="#myModal">
            <span><i class=" fa fa-comment fa-1x dashboard-message-icon" aria-hidden="true"><sup>{{ notRepliedRecognitionDetails|length }}</sup></i></span>
        </a>

        {# modal to display nrecognitions that not replied back yet #}
        <div id="myModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <ul>
                        {% for notRepliedRecognitionDetail in notRepliedRecognitionDetails %}
                            <li>{{ notRepliedRecognitionDetail }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}


    <div class="row">
        <div id="piechart-received" class="col-xs-6"></div>
        <div id="piechart-sent" class="col-xs-6"></div>
    </div>

    <input type="hidden" id="user-vs-total-received" value="{{ userVsTotal }}">

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // Load google charts
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            // Draw the chart and set the chart values
            function drawChart() {
                var userVsTotal = $('#user-vs-total-received').val();
                var userVsTotalObj = JSON.parse(userVsTotal);

                var totalReceivedByUser = userVsTotalObj.totalReceivedByUser;
                var totalSentByUser = userVsTotalObj.totalSentByUser;
                var totalRecognition = userVsTotalObj.totalRecognitions;

                var dataReceived = google.visualization.arrayToDataTable([
                    ['User', 'number of recognition received'],
                    ['You', totalReceivedByUser],
                    ['School', totalRecognition]
                ]);

                var dataSent = google.visualization.arrayToDataTable([
                    ['User', 'number of recognition sent'],
                    ['You', totalSentByUser],
                    ['School', totalRecognition]
                ]);

                // Optional; add a title and set the width and height of the chart
                var optionsReceived = {
                    'title':'{{ app.user.firstName }} ~ all school [received]',
                    'pieSliceText': 'value',    // if remove it, displays % instead of value
                    'slices': {                 // TODO: this should be dynamically generated from DB
                        0: { color: 'orange' },
                        1: { color: 'purple' }
                    },
                    'width':300,
                    'height':300
                };

                var optionsSent = {
                    'title':'{{ app.user.firstName }} ~ all school [sent]',
                    'pieSliceText': 'value',    // if remove it, displays % instead of value
                    'slices': {                 // TODO: this should be dynamically generated from DB
                        0: { color: 'orange' },
                        1: { color: 'purple' }
                    },
                    'width':300,
                    'height':300
                };

                // Display the chart including received recognitions by user
                var chartReceived = new google.visualization.PieChart(document.getElementById('piechart-received'));
                chartReceived.draw(dataReceived, optionsReceived);
                // Display the chart including sent recognitions by user
                var chartSent = new google.visualization.PieChart(document.getElementById('piechart-sent'));
                chartSent.draw(dataSent, optionsSent);
            }
        });
    </script>
{% endblock %}