{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dashboard</h1>

    <span> Hi {{ app.user.firstname }} </span>
    {% if notRepliedRecognitionDetails is not empty %}
        {# comment icon that show number of recognition that haven't been replied back #}
        <a href="#" data-toggle="modal" data-target="#replyBackModal">
            <span class="glyphicon glyphicon-envelope">
                <sup>{{ notRepliedRecognitionDetails|length }}</sup>
            </span>
        </a>

        <!-- modal to display nrecognitions that not replied back yet -->
        <div class="modal fade" id="replyBackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        {% for notRepliedRecognitionDetail in notRepliedRecognitionDetails %}
                            <div class="recognition-modal-content">
                                {{ notRepliedRecognitionDetail }}
                                <a onclick="replyBack();"><span class="glyphicon glyphicon-thumbs-up"></span></a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}


    <div class="row">
        <div id="piechart-received" class="col-xs-6"></div>
        <div id="piechart-sent" class="col-xs-6"></div>
    </div>

    <input type="hidden" id="user-vs-total-received" value="{{ userVsTotal }}">

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function() {
            // Load google charts
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(drawChart);

            // Draw the chart and set the chart values
            function drawChart() {
                var userVsTotal = $('#user-vs-total-received').val();
                var userVsTotalObj = JSON.parse(userVsTotal);

                var totalReceivedByUser = userVsTotalObj.totalReceivedByUser;
                var totalSentByUser = userVsTotalObj.totalSentByUser;
                var totalRecognition = userVsTotalObj.totalRecognitions;

                var dataReceived = google.visualization.arrayToDataTable([
                    ['User', 'number of recognition received'],
                    ['You', totalReceivedByUser],
                    ['School', totalRecognition]
                ]);

                var dataSent = google.visualization.arrayToDataTable([
                    ['User', 'number of recognition sent'],
                    ['You', totalSentByUser],
                    ['School', totalRecognition]
                ]);

                // Optional; add a title and set the width and height of the chart
                var optionsReceived = {
                    'title':'{{ app.user.firstName }} ~ all school [received]',
                    'pieSliceText': 'value',    // if remove it, displays % instead of value
                    'slices': {                 // TODO: this should be dynamically generated from DB
                        0: { color: 'orange' },
                        1: { color: 'purple' }
                    },
                    'width':300,
                    'height':300
                };

                var optionsSent = {
                    'title':'{{ app.user.firstName }} ~ all school [sent]',
                    'pieSliceText': 'value',    // if remove it, displays % instead of value
                    'slices': {                 // TODO: this should be dynamically generated from DB
                        0: { color: 'orange' },
                        1: { color: 'purple' }
                    },
                    'width':300,
                    'height':300
                };

                // Display the chart including received recognitions by user
                var chartReceived = new google.visualization.PieChart(document.getElementById('piechart-received'));
                chartReceived.draw(dataReceived, optionsReceived);
                // Display the chart including sent recognitions by user
                var chartSent = new google.visualization.PieChart(document.getElementById('piechart-sent'));
                chartSent.draw(dataSent, optionsSent);
            }
        });
    </script>
{% endblock %}