{% extends 'base.html.twig' %}

{% block title %}Dittto{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset( 'assets/css/dittto-recognise.css') }}" />
{% endblock %}

{% block body %}
    <h1 class="page-header-1">Dittto a Champion</h1>
    <div class="container page-content recognise-user-page">
        <div class="container-fluid">
            <div class="row">
                <form name="recognition" method="post">
                    <div class="col-md-12 input-group row">
                        {% for criteria in form.criteria.vars.choices %}
                            <div class="col-md-6 criteria-box">
                                <label for="recognition_criteria_{{ criteria.data.id }}">
                                    <input type="checkbox"
                                           value="{{ criteria.data.id }}"
                                           name="recognition[criteria][]"
                                           id="recognition_criteria_{{ criteria.data.id }}"/>

                                    <img src="{{ asset(criteria.data.image) }}" style="width: 50px; height: 50px;">
                                    {{ criteria.data.title }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-md-12 input-group row recognition-row">
                        <div class="col-md-6">
                            {{ form_widget(form.receivers, { 'attr': {'style': 'width:500px'}}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_widget(form.comment, {'attr' : {'class' : 'form-control', 'rows' : '5', 'placeholder' : 'Comment'}}) }}
                        </div>
                    </div>

                    <div class="row recognition-row">
                        <button type="submit" id="recognition_save" name="recognition[save]" class="btn btn-primary">Dittto</button>
                    </div>

                    {{ form_widget(form._token) }}
                </form>
            </div>
        </div>

    </div>
    
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#recognition_receivers').select2({
            placeholder: 'search a champion'
        });
    });
</script>
{% endblock %}


