{% extends 'base.html.twig' %}

{% block body %}
    <h1>recogniseUser</h1>

    <form name="recognition" method="post">
        {% for criteria in form.criteria.vars.choices %}
            <div>
                <input type="checkbox"
                       value="{{ criteria.data.id }}"
                       name="recognition[criteria][]"
                       id="recognition_criteria_{{ criteria.data.id }}"
                />
                <label
                        for="recognition_criteria_{{ criteria.data.id }}">
                    <img src="{{ asset(criteria.data.image) }}" style="width: 20px; height: 20px;">
                </label>
                <label
                        for="recognition_criteria_{{ criteria.data.id }}">
                    {{ criteria.data.title }}
                </label>
            </div>
        {% endfor %}

        {{ form_widget(form.receivers, { 'attr': {'style': 'width:200px'} }) }}
        {{ form_widget(form.recognitionReceiveds, { 'attr': {'style': 'width:200px', 'class':'form-control'} }) }}

        <div>
            <button type="submit" id="recognition_save" name="recognition[save]" class="btn btn-primary">Dittto</button>
        </div>

        {{ form_widget(form._token) }}
    </form>
{% endblock %}

{% block stylesheets %}{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#recognition_receivers').select2({
            placeholder: 'search a champion'
        });

        $('#recognition_recognitionReceiveds').select2({
            placeholder: 'search a champion111',
            allowClear: true,
            minimumInputLength: 2,
            width: '100%',
            ajax: {
                url: '{{ path('dittto_user_search_by_name') }}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: data.data
                    };
                },
                cache: true
            }
        });

    });
</script>
{% endblock %}


