{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset( 'assets/css/dittto-recognition.css') }}" />
{% endblock %}

{% block body %}
    <h1 class="page-header-1">Received Recognition</h1>    
    <div
      id="recognition-listing"
      data-recog-received="{{ receivedRecognition }}"
      data-recog-received-count="{{ recognitionReceivedCount }}"
      data-items-per-page="{{ itemsPerPage }}"
      data-current-page="{{ currentPage }}"
    ></div>
{% endblock %}
