{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset( 'assets/css/dittto-recognise.css') }}" />
{% endblock %}

{% block body %}
    
    <div class="container recognise-user-page">

        <h1 class="page-header-1">Recognise User</h1>
    
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form name="recognition" method="post">
                        {% for criteria in form.criteria.vars.choices %}
                            <div class="input-group">
                                <label for="recognition_criteria_{{ criteria.data.id }}">
                                    <input type="checkbox"
                                        value="{{ criteria.data.id }}"
                                        name="recognition[criteria][]"
                                        id="recognition_criteria_{{ criteria.data.id }}"/>

                                    <img src="{{ asset(criteria.data.image) }}" style="width: 20px; height: 20px;">
                                    {{ criteria.data.title }}
                                </label>
                            </div>
                        {% endfor %}
                        
                        <div class="input-group">
                            {{ form_widget(form.receivers, { 'attr': {'style': 'width:200px'} }) }}
                        </div>
                        
                        <div>
                            <button type="submit" id="recognition_save" name="recognition[save]" class="btn btn-primary">Recognise</button>
                        </div>

                        {{ form_widget(form._token) }}
                    </form>
                </div>
            </div>
        </div>

    </div>
    
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#recognition_receivers').select2({
            placeholder: 'search a champion'
        });
    });
</script>
{% endblock %}


