<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bower_components/tether/dist/css/tether.min.css') }}" />

        {# Temporary Web fonts #}
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300,400,600|Oswald:300,400,500,600|Pacifico" rel="stylesheet">

        {# This is the main css file that will affect all clients and used all over the application#}
        <link rel="stylesheet" href="{{ asset( 'assets/css/reset.css') }}" />
        <link rel="stylesheet" href="{{ asset( 'assets/css/dittto.css') }}" />
        
        {% block stylesheets %}{% endblock %}

        {# TODO: css file and other related file related to each client dynamically generate here #}
        <link rel="stylesheet" href="{{ asset( app.environment  ~ '/css/style.css') }}" />

        <link rel="icon" type="image/x-icon" href="{{ asset(app.environment ~ '/img/favicon.ico') }}" />
    </head>
    <body>
        
        {# display the env ONLY if it's in DEV #}
        {% if app.environment in ['dev'] %}
            <span class="label label-info env-label-info">{{ app.environment }}</span>            
        {% endif %}
        
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn close-sidebar-btn">&times;</a>
            <a href="{{ path('dittto_recognition_dashboard') }}"><span class="glyphicon glyphicon-dashboard open-sidebar-btn"></span> Dashboard</a>
            <a href="{{ path('dittto_recognition_send') }}"><span class="glyphicon glyphicon-thumbs-up open-sidebar-btn"></span> Recognise</a>
            <a href="{{ path('dittto_user_profile') }}"><span class="glyphicon glyphicon-user open-sidebar-btn"></span> My Profile</a>
            <a href="#"><span class="glyphicon glyphicon-cog open-sidebar-btn"></span> Settings</a>
            <a href="#"><span class="glyphicon glyphicon-th-large open-sidebar-btn"></span> Programs</a>
            <a href="{{ path('dittto_recognition_report_received') }}"><span class="glyphicon glyphicon-list-alt open-sidebar-btn"></span> Reports</a>
            <a href="#"><span class="glyphicon glyphicon-envelope open-sidebar-btn"></span> Emails</a>
            <a href="#"><span class="glyphicon glyphicon-book open-sidebar-btn"></span> Extra</a>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ logout_path(key = null) }}"><span class="glyphicon glyphicon-log-out open-sidebar-btn"></span> Logout</a>
            {% endif %}
        </div>

        <div class="container-fluid main-wrapper">
            
            {% if (is_nav_hidden is not defined) or (is_nav_hidden == false) %}
            <nav class="navbar navbar-inverse navbar-default main-navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>                        
                        <div class="navbar-brand clear-fix">
                            
                            <span class="glyphicon glyphicon-menu-hamburger float-left open-sidebar-btn"></span>
                            
                            <span class="float-left app-logo">
                                <a href="/">Dittto</a>
                            </span>                             
                            
                            <a href="/user/profile" class="float-left user-info-top">
                                <span class="profile-pic">
                                    <img src="{{ asset( 'assets/img/temp-profile-img.png') }}" alt="">
                                </span>                                
                                {{ app.user.firstname }}
                            </a>

                            {% if (notRepliedRecognitionDetails is defined) and (notRepliedRecognitionDetails is not empty) %}
                            {# comment icon that show number of recognition that haven't been replied back #}
                            <a href="#" id="top-notification-link" data-toggle="modal" data-target="#replyBackModal">
                                <span class="glyphicon glyphicon-bell">
                                    <sup>{{ notRepliedRecognitionDetails|length }}</sup>
                                </span>
                            </a>
                            {% endif %}
                            
                        </div>
                    </div>
                    
                    {# This is our menu that displayed to Authed users #}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{{ path('dittto_recognition_dashboard') }}">Home</a></li>
                            <li><a href="{{ path('dittto_recognition_send') }}">Recognise</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </nav>
            {% endif %}
            
            <!-- Main Content -->
            <div class="main-content">
                {% block body %}{% endblock %}
            </div>
            
            {% if (notRepliedRecognitionDetails is defined) and (notRepliedRecognitionDetails is not empty) %}
            <!-- modal to display nrecognitions that not replied back yet -->
            <div class="modal fade" id="replyBackModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h2 class="modal-title">Your most recent recognitions</h2>
                        </div>
                        <div class="modal-body">
                            <div class="recognition-modal-content">
                                <ul class="list-group">

                                {% for key,notRepliedRecognitionDetail in notRepliedRecognitionDetails %}
                                <li class="list-group-item">
                                    
                                    {% if notRepliedRecognitionDetail.hasReplied %}
                                        <span class="badge check">
                                            <span class="glyphicon glyphicon-ok"></span>
                                        </span>                                        
                                    {% else %}
                                        <a href="#" data-toggle="modal" data-target="#replyBackModal" class="badge reply">
                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                        </a>
                                    {% endif %}
                                    
                                    {{ notRepliedRecognitionDetail.message|raw }}
                                </li>                                    
                                {% endfor %}

                                </ul>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal -->

            <script>
                function replyBack(criteriaId, senderId) {

                    // alert('{{ (path('dittto_recognition_recognise_back_user')) }}');
                    // return;

                    $.ajax({
                        url:'{{ (path('dittto_recognition_recognise_back_user')) }}',
                        type: "POST",
                        dataType: "json",
                        data: {
                            "criteriaId": criteriaId,
                            "senderId"  : senderId
                        },
                        async: true,
                        success: function (data){
                            console.log(data, 'RECOG');
                            $('div#ajax-results').html(data.output);

                        },
                        error: function (err){
                            console.log(err, 'error');
                            $('div#ajax-results').html(err.responseText);
                        }
                    });
                }
            </script>
            {% endif %}

        </div>
        
        <!-- Bower Components -->
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bower_components/select2/dist/js/select2.min.js') }}"></script>
        <script src="{{ asset('bower_components/tether/dist/js/tether.min.js') }}"></script>
        <script src="{{ asset('bower_components/moment/min/moment.min.js') }}"></script>

        <!-- Google Charts -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        
        {# This is the main script file that be used throughout the app #}
        <script src="{{ asset('assets/js/main.js') }}"></script>
        <script src="{{ asset('build/app.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
