<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bower_components/tether/dist/css/tether.min.css') }}" />

        {# Temporary Web fonts #}
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans:300,400,600|Oswald:300,400,500,600|Pacifico" rel="stylesheet">

        {# This is the main css file that will affect all clients and used all over the application#}
        <link rel="stylesheet" href="{{ asset( 'assets/css/reset.css') }}" />
        <link rel="stylesheet" href="{{ asset( 'assets/css/dittto.css') }}" />
        
        {# TODO: css file and other related file related to each client dynamically generate here #}
        <link rel="stylesheet" href="{{ asset( app.environment  ~ '/css/style.css') }}" />

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        {# display the env ONLY if it's in DEV #}
        {% if app.environment in ['dev'] %}
            <span class="label label-info dev-label-info">{{ app.environment }}</span>            
        {% endif %}
        
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn close-sidebar-btn">&times;</a>
            <a href="#"><span class="glyphicon glyphicon-dashboard open-sidebar-btn"></span> Dashboard</a>
            <a href="#"><span class="glyphicon glyphicon-user open-sidebar-btn"></span> My Profile</a>
            <a href="#"><span class="glyphicon glyphicon-cog open-sidebar-btn"></span> Settings</a>
            <a href="#"><span class="glyphicon glyphicon-th-large open-sidebar-btn"></span> Programs</a>
            <a href="#"><span class="glyphicon glyphicon-list-alt open-sidebar-btn"></span> Reports</a>
            <a href="#"><span class="glyphicon glyphicon-envelope open-sidebar-btn"></span> Emails</a>
            <a href="#"><span class="glyphicon glyphicon-book open-sidebar-btn"></span> Extra</a>
        </div>

        <div class="container-fluid main-wrapper">
            
            {% if (is_nav_hidden is not defined) or (is_nav_hidden == false) %}
            <nav class="navbar navbar-inverse navbar-default main-navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>                        
                        <div class="navbar-brand">
                            <span class="glyphicon glyphicon-menu-hamburger open-sidebar-btn"></span>
                            <a href="">Dittto</a>
                        </div>
                    </div>
                    
                    {# This is our menu that displayed to Authed users #}
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">                        
                            <li><a href="{{ path('dittto_recognition_dashboard') }}">Home</a></li>
                            <li><a href="{{ path('dittto_recognition_recognise_user') }}">Recognise</a></li>
                            <li><a href="{{ logout_path(key = null) }}">Logout</a></li>                            
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </nav>
            {% endif %}
            
            <!-- Main Content -->
            <div class="main-content">
                {% block body %}{% endblock %}
            </div>

        </div>
        
        <!-- Bower Components -->
        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bower_components/select2/dist/js/select2.min.js') }}"></script>
        <script src="{{ asset('bower_components/tether/dist/js/tether.min.js') }}"></script>

        <!-- Google Charts -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        
        {# This is the main script file that be used throughout the app #}
        <script src="{{ asset('assets/js/main.js') }}"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
