<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# display the env ONLY if it's in DEV #}
        {% if app.environment in ['dev'] %}
            {{ app.environment }}
        {% endif %}

        {# TODO: css file and other related file related to each client dynamically generate here #}

        <link rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bower_components/select2/dist/css/select2.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('bower_components/tether/dist/css/tether.min.css') }}" />
        <link rel="stylesheet" href="{{ asset( app.environment  ~ '/css/style.css') }}" />

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {# This is our menu that displayed to Authed users #}
        {% if is_granted('ROLE_USER') %}
            <li><a href="{{ logout_path(key = null) }}">Logout</a></li>
            <li><a href="{{ path('dittto_recognition_dashboard') }}">Home</a></li>
            <li><a href="{{ path('dittto_recognition_recognise_user') }}">Recognise</a></li>
        {% endif %}
        {% block body %}{% endblock %}

        <script src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bower_components/select2/dist/js/select2.min.js') }}"></script>
        <script src="{{ asset('bower_components/tether/dist/js/tether.min.js') }}"></script>
        
        {% block javascripts %}{% endblock %}
    </body>
</html>
