{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset( 'assets/css/dittto-user-profile.css') }}" />
{% endblock %}

{% block body %}

    <h1 class="page-header-1">Update Password</h1>

    <div class="container page-content user-profile-page">
        <div class="row">
            <div class="col-md-12">
                <form name="recognition" method="post">
                    {% if hasError %}
                        {# displayed if there is any error #}
                        <div class="input-group alert alert-danger">
                            {{ form_errors(form.password.first) }}
                        </div>
                    {% endif %}

                    <div class="input-group">
                        {{ form_label(form.password.first) }}
                        {{ form_widget(form.password.first) }}
                    </div>

                    <div class="input-group">
                        {{ form_label(form.password.second) }}
                        {{ form_widget(form.password.second) }}
                    </div>

                    <div class="input-group">
                        {{ form_widget(form.save) }}
                    </div>
                    {{ form_widget(form._token) }}
                </form>
            </div>
        </div>
    </div>    
{% endblock %}
